body, html{
  height:100%;
  margin:0;
  font-size:16px ;
  font-family: "Lato",sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1,.pimg2,.pimg3{
position: relative;
opacity: 0.80;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment:fixed;
}
.pimg1{
  background-image: url('img1.jpeg');
  min-height:100%;
}

.pimg2{
  background-image: url('img2.jpeg');
  min-height:400px;
}

.pimg3{
  background-image: url('img3.jpeg');
  min-height:400px;
}
 .section{
    text-align: center;
    padding: 50px 20px;
 }

.section-light{
  background-color:rgb(10, 219, 188);
  color: rgb(4, 35, 31);
}

.section-dark{
  background-color:rgb(16, 17, 17);
  color:rgb(199, 229, 229);
}
h2{
  text-align: center;
  font-size: 20px;
}

.ptext{
  text-align: center;
  text-transform: capitalize;
  position: absolute;
width: 100%;
  top: 50%;
  letter-spacing: 8px;
  font-size: 30px;
  color: #000;
}

footer{
  text-align: center;
  font-size: 15px;
  background-color: rgb(3, 15, 58);
  color: rgb(209, 210, 214);
  padding: 30px 20px;
}
@media screen and (max-width: 768px)
{

  .pimg1,.pimg2,.pimg3{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:scroll;
  }

  .section{
    text-align: centre;
    font-size: 12px;
    padding: 8px 8px;

  }
}
